<%- include('../partials/head') %>
    <div class="container mt-4">
        <h1>Welcome to Homeworks</h1>
        <a href="/users/<%= user._id %>/homeworks/new" class="btn btn-primary mb-3">Add New Homework</a>
        
    <%- include('../partials/footer') %>